*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
}

.flex{
    display: flex;
}

.main-container{
    height: calc(100% - 100px);
}

.left-container{
    height: 100%;
    width: 200px;
    background-color: black;
}

.playlist-container{
    height: 100%;
    width: 100%;
    background-color: #141921;
}

.player{
    width: 100%;
    height: 70px;
    background-color: #282828;
}

.subscription{
    justify-content: flex-end;
    padding: 20px 5px;
    background-color: rgba(6, 6, 6, 0.868);
}

.subscription > button{
    padding: 0.8rem 1rem;
    background-color: rgba(6, 6, 6, 0.868);
    border: 1px solid white ;
    color: white;
    border-radius: 30px;
    font-size: 0.5rem;
    font-weight: bolder;
}

.mobile-xs-show{
    display: none;
}

.mobile-xs-dont-show{
    width: 80%;
    padding: 1rem;
}



@media screen and (max-width: 375px) {
    
    .left-container{
        width: 50px;
    }
    
    .mobile-xs-show {
        display: inline-block;
        padding: 0.5rem;
    }

    .mobile-xs-dont-show{
        display: none;
    }
}
