*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

/* Struttura webapp */
.container{
    height: 100vh;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.main-container{
    height: calc(100% - 70px);
}

.left-container{
    height: 100%;
    width: 200px;
    background-color: black;
}

.playlist-container{
    height: 100%;
    width: 100%;
    background-color: #141921;
    overflow: auto;
}

.player{
    width: 100%;
    height: 70px;
    background-color: #282828;
}

/* Subscription section (tasto upgrade) */
.subscription{
    justify-content: flex-end;
    padding: 20px 5px;
    background-color: rgba(6, 6, 6, 0.743);
    position: sticky;
    top: 0;
}

.subscription > button{
    padding: 0.8rem 1rem;
    background-color: rgba(6, 6, 6, 0.868);
    border: 1px solid white ;
    color: white;
    border-radius: 30px;
    font-size: 0.7rem;
    font-weight: bolder;
}

/* Left container */
.divisor{
    height: 100%;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.mobile-xs-show{
    display: none;
}

.logo-spotify{
    width: 80%;
    padding: 1rem;
}

.lateral-img-dimension{
    width: 16%;
    padding: 1px;
    margin-left: 15px;
    vertical-align: middle;
}

.lateral-img-dimension+span{
    color: gray;
    font-size: 0.8rem;
    vertical-align: middle;
}

.fa-square-plus{
    color: grey;
    padding-left: 15px;
    font-size: 2rem;
    vertical-align: middle;
}

.fa-square-plus+span{
    color: grey;
    vertical-align: middle;
    font-size: 0.8rem;
}

.left-container > div > h3{
    color: white;
    font-size: 0.7rem;
    padding: 15px 0 2px 15px;
}

.playlist-name{
    color: grey;
    padding: 5px 0 0 15px;
    font-size: 0.8rem;
}

/* ACCOUNT MANAGER  */
#app-download > img,
#profile-container > img{
    width: 15%;
    padding: 5px;
    vertical-align: middle;
}

#app-download > span,
#profile-container > span{
    color: grey;
    vertical-align: middle;
    font-size: 0.8rem;
}

#profile-container > span{
    color: white;
    font-weight: bold;
}

/* Playlist container */
.category{
    color: grey;
    font-size: 0.7rem;
    font-weight: bold;
    flex-wrap: wrap;
}

.category > div{
    padding: 1rem 5px;
}

.just-center{
    justify-content: center;
}

.recent-played{
    width: 95%;
    margin: 0 auto;
}

.recent-played > h3{
    color: white;
    padding-top: 10px;
}

.padding-bottom{
    padding-bottom: 1rem;
}

.song-container{
    width: calc(100% / 6);
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding-right: 1rem;
    padding-bottom: 10px;
}

.song-container > h3{
    padding-top: 0.5rem;
}

.song-container > div{
    color: grey;
    padding-top: 5px;
}

.song-container > img{
    width: 100%;
}

.subtitle{
    color: grey;
    font-size: 0.7rem;
    padding-top: 5px;
}

.circle > img{
    border-radius: 50%;
}

/* Sezione player musica */

.player{
    padding: 10px;
}

.f-basis-20{
    flex-basis: 20%;
}

.f-basis-50{
    flex-basis: 60%;
    background-color: antiquewhite;  
}

.whats-playing{
    color: grey;
}

.cover-img{
    width: 20%;
}

.cover-img > img{
    width: 100%;
}

.song-name{
    width: 50%;
    font-size: 0.5rem;
}

.song-name > h3{
    font-size: 0.7rem;
    color: white;
}

.add-playlist{
    width: 20%;
    font-size: 0.7rem;
}







@media screen and (max-width: 375px) {
    
    .left-container{
        width: 50px;
    }
    
    .mobile-xs-show {
        display: inline-block;
        padding: 0.5rem;
    }

    .mobile-xs-dont-show{
        display: none;
    }

    .lateral-img-dimension{
        width: 100%;
        padding: 0.5rem;
        margin: 0;
    }

    #app-download > img, #profile-container > img {
        width: 70%;
        padding: 5px;
        margin-left: 5px
    }   
}

@media screen and (max-width: 767px){
    .song-container{
        width: calc(100% / 2 );
        font-size: 0.4rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .song-container{
        width: calc(100% / 4 );
        font-size: 0.6rem;
    }
}